.categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
}

.categorias div {
  padding: 10px 20px;
}

.categorias div:hover a {
  color: #ff6f61;
}
.categoria {
  color: black;
}

.iconoVer{
  width: 15px;
  height:15px;
  margin-left: 140px;
 margin-top: -20px;
}