.navBar {
    background-color: #d72b1b; 
    padding: 10px 0; 
    width: 100%; 
}

.contenedorPrincipal {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;  
    justify-content: space-between;  
    align-items: center; 
}

.logo img {
    width: 70px;
    height: 70px;
    
}

.navbarLink {
    color: #FFFFFF; 
    text-decoration: none; 
    font-size: 18px; 
    margin-left: 20px; 
}


.navbarLink:hover {
    text-decoration: underline;
}
