.cerrarModal {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.cardModal {
  width: 250px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 20px;
  background-color: #f9f9f9; /* Cambia el color de fondo */
  padding: 20px; /* Agrega un espacio interno */
}

.contenedorModalPrincipal {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.image-container-modal {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden; /* Oculta el desbordamiento de la imagen */
}

.recipe-image-modal {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tiempoPre {
  font-size: 18px;
  margin-bottom: 10px;
}

.clock-icon-modal {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.time {
  margin-right: 10px;
  font-family: inherit;
  color: black;
}

.nombreReceta {
  font-size: 24px; /* Aumenta el tama침o del texto */
  margin-bottom: 10px;
  font-weight: bold; /* Hace que el nombre de la receta se vea m치s destacado */
}

.ingredientes {
  font-size: 16px; /* Reduce el tama침o del texto de los ingredientes */
  margin-bottom: 10px;
}

.instruccionesPre {
  font-size: 16px; /* Reduce el tama침o del texto de las instrucciones */
}
